<div class="contact-text">
	<% page_title = request.path.gsub('-', ' ').gsub("/","").capitalize %>
  <h2 class="font-h4"><%= page_title %> form</h2>
  <br>
  <p>Please fill in the requisite details in the following form. We shall get back to you.</p>
</div>
<div class="col-md-8 col-md-offset-2">
	<%= form_for Contact.new, url: {action: "create"}, html: {class: "contact-form"} do |f| %>
	  <%= hidden_field_tag 'country_code', '+91' %>
	  <%= f.text_field :mobile_number, class: "input", placeholder:"Enter Mobile Number *" , :required => true %>
		<%= f.text_field :name, class: "input", placeholder:"Enter Name *" , :required => true %>
		<%= f.email_field :email, class: "input", placeholder:"Enter E-mail Address *" , :required => true %>
	  <%= f.select :subject, options_for_select(Contact::CONTACT_CATEGORY.map {|k| [k.humanize.capitalize]}, :selected => "#{page_title.present? ? page_title : '' }"), :prompt=>"Please Select Subject" %>
		<%= f.text_area :messsage, class: "input", placeholder:"Write Message *" , :required => true %>
		<%= f.submit "Send message", class: "main-btn" %>
	<% end %>
</div>