<div class="user-form">
<h2><center>Sign up</center></h2>  

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="error-set">
    <%= devise_error_messages! %>
  </div>
  <div class="field user-form-width">
    <%= f.label :email %><span>*</span><br />
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="field user-form-width">
    <%= f.label :password %><span>*</span>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "Password" %> 
  </div>

  <div class="field user-form-width">
    <%= f.label :password_confirmation %><span>*</span><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" , placeholder: "Password Confirmation" %> 
  </div>
  <h2>User Type</h2>
    <div class="field user-form-width">
      <%= f.label :User_Type %><span>*</span><br />
      <%= f.select "role_id", options_for_select(Role.where(:role_enabled=> true).collect{ |u| [u.name, u.id]}), :prompt=>"Select Role" %>
    </div>
<!-- Personal info  -->
<h2>Personal info</h2>
  <div class="field user-form-width">
    <%= f.label :first_name %><span>*</span><br />
      <%= f.text_field :first_name , placeholder: "First Name" %> 
  </div>

  <div class="field user-form-width">
    <%= f.label :last_name %><span>*</span><br />
      <%= f.text_field :last_name , placeholder: "Last Name" %> 
    </div>
<div class="field user-form-width">
  <%= f.label :mobile_number %><span>*</span><br />
    <%= f.text_field :mobile_number , placeholder: "Mobile Number" %> 
  </div>
<div class="field user-form-width">
  <%= f.label :line1 %><span>*</span><br />
    <%= f.text_field :address_line1 , placeholder: "Line1" %> 
  </div>
<div class="field user-form-width">
  <%= f.label :line2 %><br />
    <%= f.text_field :address_line2 , placeholder: "Line2" %> 
  </div>
<div class="field user-form-width">
  <%= f.label :pin_code %><span>*</span><br />
    <%= f.text_field :address_pin_code , placeholder: "Pin Code" %> 
  </div>
<div class="field user-form-width">
  <%= f.label :country %><span>*</span><br />
    <%= f.text_field :address_country , placeholder: "Country" %> 
  </div>
<div class="field user-form-width">
  <%= f.label :state %><span>*</span><br />
    <%= f.text_field :address_state, placeholder: "State" %> 
  </div>
<div class="field user-form-width">
  <%= f.label :city %><span>*</span><br />
    <%= f.text_field :address_city , placeholder: "City" %> 
  </div>
  <!-- Company info -->
  <h2>Company info</h2>
  <div class="field user-form-width">
      <%= f.label :company_name %><br />
        <%= f.text_field :company_name , placeholder: "Company Name" %> 
    </div>
  <div class="field user-form-width">
    <%= f.label :company_type %><br />
      <%= f.text_field :company_type , placeholder: "Company Type" %> 
    </div>    
<div class="field user-form-width">
  <%= f.label :pan_no %><span>*</span><br />
    <%= f.text_field :company_pan_no , placeholder: "Pan Number" %> 
  </div>
<div class="field user-form-width">
  <%= f.label :gst_no %><br />
    <%= f.text_field :company_gst_no , placeholder: "GST Number" %> 
  </div>
  <!-- Other details -->
  <h2>Other details</h2>
  <div class="field user-form-width">
  <%= f.label "Upload Aadhaar card" %><br />
    <%= f.file_field :aadhaar_no_image %>
  </div>

  <div class="actions user-form-width">
    <%= f.submit "Sign up", class: "main-btn" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#new_user").submit(function(){
      $('.error-set').show();
    });
  });
</script>
