<html>
  <head>
    <meta content=‘text/html; charset=UTF-8’ http–equiv=‘Content-Type’ />
  </head>
  <body>
		<h1>Hi <%= @load.user.email %></h1>
		<h3>You gives the offer for a load.</h3>
<h1>Load provider details </h1>
 
<table border="1">
  <tr>
    <th>Load from</th>
    <th>Load_to</th>
    <th>Load_material</th>
    <th>Load_weight</th>
    <th>Load_schedule_date</th>
    <th>Source area</th>
    <th>Destination area</th>
    <th>Load material</th>
  </tr>
    <tr>
      <td><%= @load.load_from  if @load.load_from.present? %></td>
      <td><%= @load.load_to if @load.load_to.present? %></td>
      <td><%= @load.load_material  if @load.load_material.present? %></td>
      <td><%= @load.load_weight if @load.load_weight.present? %></td>
      <td><%= @load.load_schedule_date if @load.load_schedule_date.present? %></td>
      <td><%= @load.source_pin_code if @load.source_pin_code.present? %></td>
      <td><%= @load.destination_pin_code if @load.destination_pin_code.present? %></td>
      <td><%= @load.load_material if @load.load_material.present? %></td>
    </tr>
  </table>
  </body>
</html>