<html>
  <head>
    <meta content=‘text/html; charset=UTF-8’ http–equiv=‘Content-Type’ />
  </head>
  <body>
		<h1>Hi <%= @load.user.full_name.present? ? @load.user.full_name : @load.user.email %></h1>
		<h3>You have created load</h3>
<h1>With following details </h1>
<table border="1">
  <tr>
    <th>Load from</th>
    <th>Load_to</th>
    <th>Load_material</th>
    <th>Load_weight</th>
    <th>load_truck_type</th>
    <th>load_no_of_truck</th>
    <th>Load_schedule_date</th>
    <th>load_type</th>
    <th>source_pin_code</th>
    <th>destination_pin_code</th>
    <th>expected_price</th>
    <th>sharing</th>
    <th>information</th>
  </tr>
    <tr>
      <td><%= @load.load_from  if @load.load_from.present? %></td>
      <td><%= @load.load_to if @load.load_to.present? %></td>
      <td><%= @load.load_material  if @load.load_material.present? %></td>
      <td><%= @load.load_weight if @load.load_weight.present? %></td>
      <td><%= @load.load_no_of_truck if @load.load_no_of_truck.present? %></td>
      <td><%= @load.load_truck_type if @load.load_truck_type.present? %></td>
      <td><%= @load.load_schedule_date if @load.load_schedule_date.present? %></td>
      <td><%= @load.load_type if @load.load_type.present? %></td>
      <td><%= @load.source_pin_code if @load.source_pin_code.present? %></td>
      <td><%= @load.destination_pin_code if @load.destination_pin_code.present? %></td>
      <td><%= @load.expected_price if @load.expected_price.present? %></td>
      <td><%= @load.sharing = 1 ? "Yes" : "No" if @load.sharing.present? %></td>
      <td><%= @load.information if @load.information.present? %></td>
    </tr>
  </table>
  </body>
</html>