<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<div class="container">
  <h2>Post a Truck</h2>
  <p>Plese fill the following form to load  truck details</p>
  <fieldset><legend>Basic Details</legend></fieldset>
    <%= form_for @truck, url: {action: "create"}, html: {class: "form-inline"} do |f| %>
    <div class="error-set">
      <% if @truck.errors.full_messages.any? %>
        <% @truck.errors.full_messages.each do |error_message| %>
          <div class="error_msg">
            <%= error_message %> <br />
          </div>
        <% end %>
      <% end %>
    </div>
      <table cellpadding="1" cellspacing="1" class="tblstyle">
        <tr >
        <td>
          <div class="form-group ">
        <label for="from">Vehicle Number<span>*</span></label>
         <%= f.text_field :vehicle_number, class: "input control-label col-sm-4",:placeholder=> "Vehicle Number" %>
      </div>
        </td>
        <td>
      <div class="form-group">
        <label for="to">Driver Name<span>*</span></label>
          <%= f.text_field :driver_name, class: "input control-label col-sm-4", :placeholder=> "Driver Name" %>
      </div>
        </td>
        <td>
          <div class="form-group">
        <label for="from">Driver Mobile Number<span>*</span></label>
         <%= f.text_field :driver_mobile_no, class: "input control-label col-sm-4", :placeholder=> "Contact Number" %>
      </div>
        </td>
      </tr>
      <tr>
        <td>   </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
        <label for="from">Available truck capacity(Metric Ton)<span>*</span></label>
        <%= f.select :truck_weight, options_for_select(Load::LOAD_WEIGHT.map {|k| [k.humanize.capitalize]}),:prompt=>"Select Weight" %>
      </div>
        </td>
        <td>
          <div class="form-group">
        <label for="from">Truck Type<span>*</span></label>
          <%= f.select :truck_type, options_for_select(Load::LOAD_TRUCK_TYPE.map {|k| [k.humanize.capitalize]}),:prompt=>"Truck type" %>
      </div>
        </td>
        <td>
          <div class="form-group">
           <label for="from">Expected Price <span>*</span></span></label>
            <%= f.text_field :expected_price, class: "input control-label col-sm-4", :placeholder=> "Expected Price" %>
          </div>
        </td>
      </tr>
      <tr>
        <td >  </td>
      </tr>
      <tr>
        <td>
        <div class="form-group">
         <label for="from">Scheduled Date </span></label>
          <span> <%= f.text_field :schedule_date, :id=> "datepicker" %></span>
        </div>
        </td>
      <td>
        <div class="form-group">
          <label for="from">From<span>*</span></label>
            <%= f.select 'truck_from', options_for_select(country_list.collect{ |u| [u] }), :class=> "input control-label col-sm-4", :prompt=>"Truck from" %>
        </div>
        </td>
        <td>
          <div class="form-group">
        <label for="to">To <span>*</span></label>
          <%= f.select 'truck_to', options_for_select(country_list.collect{ |u| [u] }), :prompt=>"Truck to" %>
      </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="to">Transit time <span>*</span></label>
            <%= f.select 'transit_time', options_for_select(Truck::TRANSIT_TIME.collect{ |k,v| [k] }), :prompt=>"Transit time" %>
          <!-- <input type="text" class="timepicker" name="time"/> -->
          </div>
        </td>
      <td>
      <div class="form-group form-margin-6">
        <label for="from">Document<span class="note-docs">(will you provide LR,POD)</span></label>
          <%= f.select :documentation, options_for_select(Load::LOAD_SHARE.map {|k,v| [k,v]}, :selected => params[:truck].present? ? params[:truck][:documentation] : ''  ) %>
      </div>
      </td>
      <td>
      <div class="form-group form-margin-6">
        <label for="from">Are you wiling to share<span>*</span></label>
          <%= f.select :sharing, options_for_select(Load::LOAD_SHARE.map {|k,v| [k,v]}, :selected=>  params[:truck].present? ? params[:truck][:sharing] : ''  ) %>      
      </div>
      </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
          <label for="from">Frequency<span>*</span></label>
            <%= f.select :frequency, options_for_select(Truck::FREQUENCY.map {|k,v| [k,v]}),:prompt=>"Frequency" %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div>
        <%= f.submit "Post truck", class: "main-btn" %>
      </div>
        </td>
      </tr>
      </table>
    <% end -%>
</div>
<script type="text/javascript">
  $( "#datepicker" ).datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
  (function($) {
    $(function() {
      $('input.timepicker').timepicker();
    });
})(jQuery);
</script>