<% if response.present? %>
  
  <div class="header-title">
  
  <h4>Distance Details</h4>
  <table class="table table-bordered table-condensed table-striped cf  table-hover">
    <tbody><tr>
        <td class="numeric">Source City</td>
        <td class="numeric width">
          <span id="cphContent_lblDestinationCity" title=<%= response['origin_addresses'][0] %>><%= response['origin_addresses'][0] %></span>
        </td>
    </tr>
    <tr>
        <td class="numeric">Destination City</td>
        <td class="numeric width">
            <span id="cphContent_lblStartingCity" title=<%=response['destination_addresses'][0] %>><%=response['destination_addresses'][0] %></span>
        </td>
    </tr>
    <tr>
        <td class="numeric">Travel Duration (apprx.)</td>
        <td class="numeric width">
            <span id="cphContent_lblTravelDuration" title="7 hours 14 mins"><%= response['rows'][0]['elements'][0]['distance']['text'] %></span>
        </td>
    </tr>
    <tr>
        <td class="numeric">Distance</td>
        <td class="numeric width">
            <span id="cphContent_lblDistance"><%= response['rows'][0]['elements'][0]['duration']['text'] %></span>
        </td>
    </tr>
    </tbody>
  </table>
  </div>
<% end %>