<% if loads.present? %>
 <tr class="board_header">
  <th scope="col" >Source City</th>
  <th scope="col">Destination City</th>
  <th scope="col">Material</th>
  <th scope="col">Weight (Metric Ton)</th>
  <th scope="col">Truck Type</th>
  <th scope="col">Schedule Date</th>
  <!-- <th scope="col">Shared truck</th> -->
  <th scope="col">Load Type</th>
  <th scope="col">Pick up point</th>
  <th scope="col">Drop point</th>
  <th scope="col">Expected Price(INR)</th>
  <th scope="col">Information</th>
  <!-- <th scope="col">Truck Body</th> -->
  <!-- <th scope="col">Map</th> -->
  <th scope="col">Action</th>
  <%= "truck" %>
  <%= @trucks.map(&:truck_from).uniq %>
  <%= @trucks.map(&:truck_to).uniq %>
  <%= @trucks.map(&:id).uniq %>
  <br>
  <%= "load "%>
  <%= @loads.map(&:load_from).uniq %>
  <%= @loads.map(&:load_to).uniq %>
  <%= @loads.map(&:id).uniq %>
  </tr>
  <%= hidden_field_tag "truck_id", @trucks.present? ? @trucks.map(&:id).uniq : "" %>
  <% loads.each do |load| %>
    <tr>
      <td>
        <span id="cphContent_grdTruckPost_lblFrom_23" title=<%= load.load_from %>><%= load.load_from if load.load_from.present? %></span>
          </td>
        <td>
          <span id="cphContent_grdTruckPost_lblTo_23" title=<%= load.load_to %>><%= load.load_to if load.load_to.present? %></span>
        </td>
        <td>
          <span id="cphContent_grdTruckPost_lblWeight_23"><%= load.load_material if load.load_material.present? %></span>
        </td>
        <td>
          <span id="cphContent_grdTruckPost_lblTruckType_23" title=<%= load.load_weight %>><%= load.load_weight if load.load_weight.present? %></span>
        </td>
        <td>
          <span id="cphContent_grdTruckPost_lblTruckType_23" title=<%= load.load_truck_type %>><%= load.load_truck_type.present? ? load.load_truck_type : '' if load.load_truck_type.present? %></span>
        </td>
        <td>
          <span id="cphContent_grdTruckPost_lblTruckType_23" title=<%= load.load_schedule_date.to_formatted_s(:long) %>><%= load.load_schedule_date.to_formatted_s(:long)%></span>
        </td>
        <!-- <td>
          <span> <%#= load.load_sharing(load) %></span>
        </td> -->
        <td>
          <span> <%= load.load_type if load.load_type.present?  %></span>
        </td>
        <td>
          <span> <%= load.source_pin_code if load.source_pin_code.present?  %></span>
        </td>
        <td>
          <span> <%= load.destination_pin_code if load.destination_pin_code.present?  %></span>
        </td>
        <td>
          <% load_price = load.expected_price.to_i * 0.20 if load.expected_price.present? %>
          <% load_price = load.expected_price.to_i - load_price.to_i %>
          <span> <%= load_price  if load.expected_price.present?  %></span>
        </td>
        <td>
          <span> <%= load.information if load.information.present?  %></span>
        </td>
        <!-- <td>
          <span> <%#= load.load_body= true ? "Open" : "Close" if load.load_body.present? %></span>
        </td> -->
        <!-- <td>
          <center>
            <%#= link_to image_tag('/assets/map_icon.png') + "",  root_direction_path(:load_from=> load.load_from, :load_to=>load.load_from), target: "_blank" %>
          </center>
        </td> -->
        <td>
          <% if load.booked == "requesting" %>
            <% if params[:user_id].present? %>
              <%= link_to "Accepting", make_confirmation_load_path(:load_id=> load.id), :class=>"btn-xs btn-success btn-white-color" %>
            <% else %>
              <%= link_to "Accepting", "javascript:void(0)", :class=>"btn-xs btn-success btn-white-color" %>
            <% end %>
          <% elsif load.booked == "accept_request" %>
            <%= link_to "Accepted request", "javascript:void(0)", :class=>"btn-xs btn-success btn-white-color" %>
          <% else %>
          <%# login_user_trucks = current_user.trucks if current_user.present? and current_user.trucks.present?  %>
            <%= link_to "Accept", send_booked_mail_path(:id=> load.id, :truck_id=> @trucks.present? ? @trucks.map(&:id).uniq.first : ''), :confirm =>'Are you sure?', :class=>"btn-xs btn-danger btn-white-color" %>
          <% end %>
          </td>
      </td>
  <% end %>
  <%= will_paginate loads  if loads.present? %>
<% else %>
  <tr><h3 class='text-data'>No data found</h3></tr>
<% end %>