<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="container container-padding-top">
  <h2>Post a Load</h2>
  <p class="post-form-msg">Plese fill the following form to load  post details</p>
  <fieldset><legend>Basic Details</legend></fieldset>
    <%= form_for @load, url: {action: "create"}, html: {class: "form-inline"} do |f| %>
    <div class="error-set">
      <% if @load.errors.full_messages.any? %>
        <% @load.errors.full_messages.each do |error_message| %>
          <div class="error_msg">
            <%= error_message %> <br />
          </div>
        <% end %>
      <% end %>
    </div>
    <table cellpadding="1" cellspacing="1" class="tblstyle tblstyle-load">
      <tr>
        <td>
        <div class="form-group form-margin-6">
          <label for="from">Load Type<span>*</span></label>
            <%= f.select :load_type, options_for_select(Load::LOAD_TYPE.map {|k| [k.humanize.capitalize]}, :selected=> params[:load].present? ? params[:load][:load_type] : ''  ), :prompt=>"Select Load Type" %>      
        </div>
      </td>
      <td>
        <div class="form-group form-margin-20">
        <label for="from">From<span>*</span></label>
        <%= f.select 'load_from', options_for_select(country_list.collect{ |u| [u] }, :selected=> params[:load].present? ? params[:load][:load_from] : ''), :class=> "input control-label col-sm-4", :prompt=>"Source" %>
      </div>
      </td>
      <td>
        <div class="form-group">
        <label for="to">To <span>*</span></label>
        <%= f.select 'load_to', options_for_select(country_list.collect{ |u| [u] }, :selected=> params[:load].present? ? params[:load][:load_to] : ''), :prompt=>"Destination" %>
      </div>
      </td>
    </tr>
    <tr>
        <td>   </td>
      </tr>
    <tr>
      <td>
        <div class="form-group form-margin-6" id="material">
          <label for="from">Material<span>*</span></label>
            <%= f.select :load_material, options_for_select(Load::LOAD_MATERIAL.map {|k| [k.humanize.capitalize]}, :selected=> params[:load].present? ? params[:load][:load_material] : ''), :prompt=>"Material" %>      
        </div>
      </td>
      <td>
        <div class="form-group  " id="truck-type">
          <label for="from">Truck Type<span>*</span></label>s
            <%= f.select :load_truck_type, options_for_select(Truck::TRUCK_CAPICITY.map {|k,v| [k,v]}, :selected=> params[:load].present? ? params[:load][:load_truck_type] : ''), :prompt=>"Truck Type" %>
        </div>
      </td>
      <td>
       <div class="form-group" id="weight-of-load">
          <label for="from">Weight(Metric Ton)<span>*</span></label>
            <%#= f.select :load_weight, options_for_select(Load::LOAD_WEIGHT.map {|k| [k.humanize.capitalize]}, :selected=> params[:load].present? ? params[:load][:load_weight] : ''), :prompt=>"Weight" %>
            <%= f.select :load_weight, options_for_select(Truck::TRUCK_CAPICITY.map {|k,v| [v,v]}, :selected=> params[:truck].present? ? params[:truck][:load_weight] : ''), :prompt=>"Weight" %>
        </div> 
      </td>
    </tr>
    <tr>
        <td>   </td>
    <tr><td>
      <%# if params[:load].present? and params[:load][:load_type] != "Part load" %>
        <div class="form-group form-margin-6 no-of-truck">
          <label for="from">No. of Truck<span>*</span></label>
            <%= f.select :load_no_of_truck, options_for_select(Load::NO_OF_TRUCKS.map {|k| [k.humanize.capitalize]}, :selected=> params[:load].present? ? params[:load][:load_no_of_truck] : ''), :prompt=>"No. of Truck" %>
        </div>
      <%# end %>
    </td>
    <td>
      <div class="form-group form-margin-4">
        <label for="from">Scheduled Date <span>*</span></span></label>
         <span> <%= f.text_field :load_schedule_date, :id=> "datepicker", :placeholder=> "Scheduled Date" %></span>
      </div>
    </td>
    <td>
      <div class="form-group form-margin-4">
        <label for="from">Expected Price(INR) <span>*</span></span></label>
         <span> <%= f.text_field :expected_price, :id=> "datepicker", :placeholder=> "Expected Price" %></span>
      </div>
    </td>
  </tr>
  <tr>
        <td> </td>
      </tr>
  <tr>
    <td>
      <div class="form-group" id="pin-code-source">
      <label for="from">Pick-up Address<span>*</span></label>
       <%= f.text_field :source_pin_code, class: "input control-label col-sm-4", :class=> "form-control", :placeholder=> "Pick-up Address" %>
    </div>
      </td>
    <td>
      <div class="form-group" id="pin-code-destination">
        <label for="from">Delivery Address<span>*</span></label>
         <%= f.text_field :destination_pin_code, class: "input control-label col-sm-4", :class=> "form-control", :placeholder=> "Delivery Address" %>
      </div>
    </td>
    <td>
      <div class="form-group form-margin-6">
        <label for="from">Are you wiling to share<span>*</span></label>
          <%= f.select :sharing_load, options_for_select(Load::LOAD_SHARE.map {|k,v| [k,v]}, :selected=> params[:sharing].present? ? params[:load][:sharing_load] : ''  ) %>      
      </div>
      </td>
      <tr>
        <td>
          <div class="form-group" id="pin-code-destination">
            <label for="from">Information (if any)</label>
             <%= f.text_area :information, class: "input control-label col-sm-4", :class=> "information-text form-control", :placeholder=> "Information" %>
          </div>
    </td>
      </tr>
    </tr>
  <tr>
        <td>   </td>
      </tr>
      <tr>
        <td colspan="3">
          <div>
        <%= f.submit "Post Load", class: "main-btn" %>
      </div>
        </td>
      </tr>
      </table>
    <% end -%>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $("#datepicker").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
</script>
<script type="text/javascript">
  $("#load_load_truck_type").change(function(){
    $("#load_load_weight").val($('#load_load_truck_type :selected').val());
  });
  $("#load_load_weight").change(function(){
    $("#load_load_truck_type").val($('#load_load_weight :selected').val());
  });
</script>