<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Actor" rel="stylesheet" type="text/css">
<div class="container">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-xs-4">
      <div class="product-place">
      <img src="/assets/3SC.png" width="230px" height="219px">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="product-summary">
        <h3><%#= @load.title %></h3>
        <!-- <div class="rating"><img src="/images/rating.png"> 5 <span style='text-transform: uppercase;'>reviews</span></div> --> 
        <p class="description"><%#= @product.description %></p>
        <h3>Automatic checkout</h3>
        <%= form_tag("/purchase", method: "post") do %>
          <script
              src="https://checkout.razorpay.com/v1/checkout.js"
              data-key="<%= "#{Figaro.env.MERCHANT_KEY_ID}" %>"
              data-amount="<%= (@load.expected_price.to_i * 100) * 0.20 %>"
              data-name="<%= "#{@load.user.full_name}" %>"
              data-description="<% @load.information.present? ? "#{@load.information}" : '' %>"
              data-image="/assets/3SC.png"
              data-prefill.name="<%= "#{current_user.full_name}" %>"
              data-prefill.email="<%= "#{current_user.email}" %>"
              data-theme.color="#F37254"
          >
          </script>
          <input type="hidden" value="<%= "#{@load.id}" %>" name="product_id">
          <input type="hidden" value="<%= "#{current_user.id}" %>" name="user_id">
        <% end %>
        <br>
      </div>
    <div>
  </div>
  </div>
  </div>
</div>
<script>
$(document).ready(function(){
  var options = {
      "key": "<%= "#{Figaro.env.MERCHANT_KEY_ID}" %>",
      "amount": "<%= "#{@load.expected_price.to_i * 0.20}" %>",
      "name": "<%= "#{@load.user.full_name}" %>",
      "description": "<%= "#{@load.information}" %>",
      "image": "/assets/3SC.png",
      "handler": function (response){
        var mapForm = document.createElement("form");
        mapForm.target = "_self";
        mapForm.method = "POST"; // or "post" if appropriate
        mapForm.action = "/purchase";

        var mapInput = document.createElement("input");
        mapInput.type = "text";
        mapInput.name = "payment_id";
        mapInput.value = response.razorpay_payment_id;
        mapForm.appendChild(mapInput);

        var mapInput2 = document.createElement("input");
        mapInput2.type = "text";
        mapInput2.name = "user_id";
        mapInput2.value = "<%= "#{current_user.id}" %>";

        var mapInput3 = document.createElement("input");
        mapInput3.type = "text";
        mapInput3.name = "product_id";
        mapInput3.value = "<%= "#{@load.id}" %>";

        mapForm.appendChild(mapInput);
        mapForm.appendChild(mapInput2);
        mapForm.appendChild(mapInput3);

        mapForm.submit();

      },
      "prefill": {
          "name": "<%= "#{current_user.full_name}" %>",
          "email": "<%= "#{current_user.email}" %>"
      },
      "notes": {
          "address": "Hello World"
      },
      "theme": {
          "color": "#198F69"
      }
  };
  $("#rzp-button1").click(function(e){
    var rzp1 = new Razorpay(options);
      rzp1.open();
      e.preventDefault();
  });

});
</script>
