<!-- Header -->
  <% home_id = params[:action] =="index" && params[:controller] =="welcome" ? "home" : "home-without-homepage" %>
 	<header id=<%= home_id %>>
 		<!-- Background Image -->
    <% if params[:action] =="index" && params[:controller] =="welcome" %>
      <div class="bg-img" style="background-image: url('/assets/bgimage.jpg');">
    <% end %> 
 			<div class="overlay"></div>
 		</div>
 		<!-- /Background Image -->
 
 		<!-- Nav -->
 		<nav id="nav" class="navbar nav-transparent">
 			<div class="container">
 
 				<div class="navbar-header">
 					<!-- Logo -->
 					<div class="navbar-brand">
 						<a href="javascript:void(0))">
 							<img class="logo" src="/assets/3SC.png" alt="logo">
 							<img class="logo-alt" src="/assets/3SC.png" alt="logo">
 						</a>
 					</div>
 					<!-- /Logo -->
 
 					<!-- Collapse nav button -->
 					<div class="nav-collapse">
 						<span></span>
 					</div>
 					<!-- /Collapse nav button -->
 				</div>
 
 				<!--  Main navigation  -->
 				<ul class="main-nav nav navbar-nav navbar-right">
 					<li>
 						<%= link_to "Home", root_path, :class=>"home-link" %>
 					</li>
 					<li class="has-dropdown"><a href="#">Post</a>
             <ul class="dropdown">
              <% if current_user.present? %>
                <% if current_user.role.name == "Load Provider" and user_signed_in? %>
                 <li>	
                   <%= link_to "Post a Load", new_load_path, :class=> "post-load" %>
                 </li>
                <% end %>
                 <% if current_user.role.name == "Truck Owner" and user_signed_in? %>
                   <li>
                     <%= link_to "Post a Truck", new_truck_path, :class=> "post-truck" %>
                   </li>
                  <% end %> 
               <% end %>           
             </ul>
           </li>
 					<li class="has-dropdown"><a href="#">Board</a>
             <ul class="dropdown">
              <% if current_user.present? %>
                <% if current_user.role.name == "Truck Owner" and user_signed_in? %>
                  <li>
                    <%= link_to "Find a Load", loads_path %>
                  </li>
                <% end %>
               <% end %>
               <% if current_user.present? %>
                 <% if current_user.role.name == "Load Provider" and user_signed_in? %>
                  <li>
                    <%= link_to "Find a Truck", trucks_path %>
                  </li>
                <% end %>   
              <% end %>     
             </ul>
           </li>
           <li class="has-dropdown"><a href="#">Calculation</a>
             <ul class="dropdown">
               <li>
                 <li> <%= link_to "Distance Calculator", distance_calculation_path %></li>
               </li>
               <li>
                 <%= link_to "Show Diretion", root_direction_path %>
               </li>         
             </ul>
           </li>
 					<li class="has-dropdown"><a href="#">Help Center</a>
             <ul class="dropdown">
               <li>
                 <%= link_to "FAQ", "javaScript:void(0)" %>
               </li>
               <li>
                 <%= link_to "Our Network", our_network_path, :class=>"our-network" %>
               </li>         
             </ul>
           </li>
 					<li class="has-dropdown"><a href="#">Services</a>
             <ul class="dropdown">
               <li>
                 <%= link_to "Warehouse Inquiry", warehouse_inquiry_path %>
               </li>
               <li>
                 <%= link_to "Franchise Inquiry", franchise_inquiry_path %>
               </li>
               <li>
                 <%= link_to "Vehicle Loan Inquiry", vehicle_loan_inquiry_path %>
               </li> 
             </ul>
           </li>
 					<li class="has-dropdown"><a href="#blog">Truck</a>
 						<ul class="dropdown">
 							<li><a href="/">Find a truck</a></li>
 						</ul>
 					</li>
 					<li>
 						<%= link_to "Contact", new_contact_path %>
 					</li>
 					<li class="has-dropdown"><a href="#blog">User</a>
 						<ul class="dropdown">
 							<% if user_signed_in? %>
 								<li>
                  <%= link_to('Profile', user_profile_path(user_id:current_user.id))  %>
 									<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
 								</li>
 							<% else %>
 								<li>
 									<%= link_to('Login', new_user_session_path)  %> 
 								</li>
 								<li>
 									<%= link_to('Register', new_user_registration_path)  %>
 								</li>
 							<% end %>	
 						</ul>
 					</li>
 				</ul>
 				<!-- /Main navigation -->
 			</div>
 		</nav>
 		<!-- /Nav -->
  <% if params[:action] =="index" && params[:controller] =="welcome" %>
 		<!-- home wrapper -->
 		<div class="home-wrapper">
 			<div class="container">
 				<div class="row">
 					<!-- home content -->
 					<div class="col-md-10 col-md-offset-1">
 						<div class="home-content">
 							<h1 class="white-text">We Are Creative 3SC</h1>
 							<p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
 							</p>
 							<button class="white-btn">Get Started!</button>
 							<button class="main-btn">Learn more</button>
 						</div>
 					</div>
 					<!-- /home content -->
 
 				</div>
 			</div>
 		</div>
  <% end %>  
 		<!-- /home wrapper -->
  <% if user_signed_in? %>
    <div class="col-md-12 inner_latest_updates_block ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-7">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 latest-news">
                                Latest Loads <span>|</span>
                            </div>
                            <div class="col-md-9 col-sm-9 scroll-news">
                                <div id="quote-carousel" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                         
                                                                            <div class="item active">
                                            <div class="row">                                          
                                                <div class="col-sm-12">
                                                  <a href="https://www.trucktek.in/index.php/Welcome/latest_load_board/15">
                                                  Load available from Soro, Odisha, India to Dhanbad, Jharkhand, India                                                </a>
                                                </div>                                           
                                            </div>
                                        </div>
                                        
                                                                            <div class="item">
                                            <div class="row">                                          
                                                <div class="col-sm-12">
                                                  <a href="https://www.trucktek.in/index.php/Welcome/latest_load_board/17">
                                                  Load available from Pune, Maharashtra, India to Nashik, Maharashtra, India                                                </a>
                                                </div>                                           
                                            </div>
                                        </div>
                                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-5">
                                                          <div class="pull-right live_trucks_details">5 + Live trucks   |   6 + Live Loads  </div>
                    </div>            
                </div>
            </div>
    </div>
  <% end %>
 	</header>
 	<!-- /Header -->
<script type="text/javascript">
  $('.our-network').click(function() {
    location.reload(true)
  });
  $('.post-load').click(function() {
    location.reload(true)
  });
  $('.post-truck').click(function() {
    location.reload(true)
  });
  $('.home-link').click(function() {
    location.reload(true)
  });
</script>