
 
 
<!-- Contact -->
<div class="user-form1">
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Get in touch</h2>
				</div>
				<!-- /Section-header -->	

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Phone</h3>
						<p class="para">020-3001-3155</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p class="para">support@3scsolution.com</p>
					</div>
				</div>
				<!-- /contact -->
				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p class="para">Wolrd Trade Center (Tower 1), EON Free Zone, Kharadi, Pune Maharashtra 411014 </p>
					</div>
				</div>
				<!-- /contact -->
				<!-- contact form -->
	<div class="contact-text">
	 
          <h2 class="font-h4"><u>Inquiry Form</u></h2>
          <br>
          <p class="para"><b>Please fill in the requisite details in the following form. We shall get back to you.</b></p>
           </div>
				<div class="col-md-8 col-md-offset-2">
					<%= form_for @contact, url: {action: "create"}, html: {class: "contact-form"} do |f| %>
						<% if @contact.errors.full_messages.any? %>
						  <% @contact.errors.full_messages.each do |error_message| %>
						  <div class="error_msg">
						    <%= error_message %> <br />
						   </div>
						  <% end %>
						<% end %>
            <%= hidden_field_tag 'country_code', '+91' %>
            <%= f.text_field :mobile_number, class: "input", placeholder:"Enter Mobile Number *" , :required => true %>
						<%= f.text_field :name, class: "input", placeholder:"Enter Name *" , :required => true %>
						<%= f.email_field :email, class: "input", placeholder:"Enter E-mail Address *" , :required => true %>
						<%#= f.text_field :subject, class: "input", placeholder:"Subject*" , :required => true %>
            <%= f.select :subject, options_for_select(Contact::CONTACT_CATEGORY.map {|k| [k.humanize.capitalize]}), :prompt=>"Please Select Subject" %>
						<%= f.text_area :messsage, class: "input", placeholder:"Write Message *" , :required => true %>
						<br>
						<%= f.submit "Send message", class: "main-btn" %>
					<% end %>
		     </div>
				
				<!-- /contact form -->
				
			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->
	</div>
</div>>