<html>
  <head>
    <meta content=‘text/html; charset=UTF-8’ http–equiv=‘Content-Type’ />
  </head>
  <body>
		<h1>Hi <%= @load.user.email %></h1>
		<h3>You get affer from a truck owner.</h3>
<h1>truck owner details </h1>
 
<table border="1">
	  <tr>
	    <th>Vehicle number</th>
	    <th>Driver name</th>
	    <th>Schedule date</th>
	    <th>Truck from</th>
	    <th>Truck to</th>
	    <th>Transit time</th>
	    <th>Documentation</th>
      <th>Truck weight</th>
      <th>Truck type</th>
      <th>Expected price(inr)</th>
      <th>Transit time(days)</th>
      <th>Sharing</th>
      <th>Information</th>
	  </tr>
    <tr>
      <td><%= @truck.vehicle_number if @truck.vehicle_number.present? %></td>
      <td><%= @truck.driver_name if @truck.driver_name.present? %></td>
      <td><%= @truck.schedule_date  if @truck.schedule_date.present?%></td>
      <td><%= @truck.truck_from if @truck.truck_from.present? %></td>
      <td><%= @truck.truck_to if @truck.truck_to.present? %></td>
      <td><%= @truck.transit_time if @truck.transit_time.present? %></td>
      <td><%= @truck.documentation if @truck.documentation.present? %></td>
      <td><%= @truck.truck_weight if @truck.truck_weight.present? %></td>
      <td><%= @truck.truck_type if @truck.truck_type.present? %></td>
      <td><%= @truck.expected_price if @truck.expected_price.present? %></td>
      <td><%= @truck.sharing if @truck.sharing.present? %></td>
      <td><%= @truck.information if @truck.information.present? %></td>
    </tr>
  </table>
  </body>
</html>